.section2 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    font-family: var(--fonte-principal);
    margin-bottom: 96px;
}

.container__numeros {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    gap: 10px;
}

.container__numero-titulo {
    color: var(--bordo);
    font-weight: 600;
    font-size: 60px;
}

.container__numero-subtitulo {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.container__numero-paragrafo {
    color: var(--cinza);
    line-height: 24px; 
}
